<div class="container-fluid h-100">
  <div class="row h-100">
    <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item text-primary pb-3 font-weight-bold ml-4">
            Ron Wieder
          </li>
          <li class="nav-item">
            <a class="nav-link text-info"
               routerLink='pagination'>
              Pagination Table
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info"
               routerLink='infinite'>
              Infinite Scroll Table
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
