<nav class="row justify-content-center"
     *ngIf="pages > 0">
  <ul class="pagination">
    <li class="page-item"
        [ngClass]="{'disabled': currentPage <= 1}">
      <button class="page-link"
              aria-label="Previous"
              (click)="goTo(currentPage - 1)">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    <li class="page-item"
        [ngClass]="{'active': page === currentPage}"
        *ngFor="let page of _pages">
      <button class="page-link"
              (click)="goTo(page + 1)">{{ page + 1 }}</button>
    </li>
    <li class="page-item"
        [ngClass]="{'disabled': currentPage >= pages}">
      <button class="page-link"
              aria-label="Next"
              (click)="goTo(currentPage + 1)">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>
